body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1.2px!important;
    background: #8BC34A;
}
.addone{
    opacity:0.9;
}
.addtwo{
    transform:scale(0.8);
    opacity:0.5;

}
.header{height: 40px;}
.list_wrapper{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    background: #fff;
}
.single_list{
    background: #ebecf0;
    border-radius: 5px;
    padding: 1px 27px;
    cursor: move;
    position: relative;
}
.card_item{
    background: #fff;
    margin: 15px 0px;
    padding: 8px;
    text-transform: capitalize;
    border-radius: 3px;
    cursor: grab;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
}

.card_title{margin: 10px 0;color: #10105a;font-weight: 600;text-transform: capitalize;}
.add_another_card{margin: 15px 0;color: #555;cursor: pointer;}
.add_another_list{padding: 10px;color: #fff;background: forestgreen;border-radius: 5px; cursor: pointer;}
.list_actions{float: right;cursor: pointer;}

.pop-over {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    overflow: hidden;
    position: absolute;
    width: 265px;
    z-index: 70;
    top: 19%;
    right: -50%;
}
.list_options{
    display: none;
}
#moveToOptions{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    display: none;
    overflow: hidden;
    position: absolute;
    width: 300px;
    z-index: 70;
    top: 19%;
    right: -100%;
}
.pop-over-header {
    height: 40px;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
}
.pop-over-header-title {
    box-sizing: border-box;
    color: #5e6c84;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid rgba(9,30,66,.13);
    margin: 0 12px;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}
.pop-over-header-close-btn {
    color: #6b778c;
    padding: 10px 12px 10px 8px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.icon-lg, .icon-md, .icon-sm {
    color: #42526e;
}
.icon-sm {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}

.pop-over-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px 12px;
}
.pop-over-list li>.pop-over-list-item, .pop-over-list li>a {
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: 5px 12px;
    position: relative;
    margin: 0 -12px;
    text-decoration: none;
    color: #68758c;
    font-size: 13px;
    text-transform: capitalize;
}
.pop-over-list{
    padding: 0;
    list-style: none;
    margin: 0;
}
.pop-over-list li{ color: #333 }
.add_form textarea,.add_form input,#add_list_form button{letter-spacing: 1px; font-size: 14px}
#add_list_form {display: none;}
#add_card_form {display: none;}